################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TutorialesVisualStudio/.vs/TutorialesVisualStudio/v17
/.vs
/TutorialesVisualStudio/.vs
/TutorialesVisualStudio/TerminalTactilWPF
